* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    overflow-x: hidden;
    background-image: url('computer.jpg');
    background-size: cover;
  }
  a {
    color: white;
    font-size: 20px;
  }

  .items li a{
    color: white;
    font-size: 26px;
    
  }
  
  
  .main {
    height: 100vh;
    width: 100%;
  }
  
  .foot {
    color: black;
    background-color: darkgray;
    display: flex;
    justify-content: space-evenly;
  }
  
  .foot .email input {
    padding: 11px;
    border: none;
    border: 2px solid black;
  }
  
  @media only screen and (max-width: 360px) {
    .nav-item li {
      width: 100%;
    }
  }
  @media only screen and (max-width: 415px) {
    .nav-item li {
      width: 100%;
    }
  }
  @media only screen and (max-width: 596px) {
    .nav-item li {
      width: 100%;
    }
  }
  

.login{
    font-weight: 600;
    display: block;
    margin-top: 50px;
    background-color: whitesmoke;
    width: 400px;
    height: 480px;
    border-radius: 0 0 10px 10px;
}

.head{
    background-color: green;
    height: 70px;
    text-align: center;
    text-decoration-line: underline;
}




.links{
    display: flex;
}

h2{
    text-align: center;
}


input{
    width: 237px;
    display: flex;
}

.area{
    width: fit-content;
    padding: 100px
}

.heading{
    text-align: center;
    width: inherit;
    padding: 0;
    font-style: italic;
    text-align: center;
    /* background-color: grey; */
    border-radius: 7px 7px 0px 0px;
}

.uid{
  padding: 12px;
}

.uid label {
  font-size: 28px;
}

.btnn{
    margin: auto;
}


/* .b-r{
    border: 2px solid red;
    display: grid;
    width: 500px;
} */

form{
  border: 1px solid black;
  padding: 30px;
}